.env
documents
.idea
.venv
logs/app.log
logs
logs/**
__pycache__/**
**/__pycache__/**
**/**/__pycache__/**
.ipynb_checkpoints/**
modules/trash
modules/trash/vibe_coders_project
datasets
config.yaml
reports
reports/**
.idea/**
